h1 {
    text-align: center;
    margin: 40px;
}

.topic-list {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

app-topic-item {
    width: 100%;
    max-width: 400px;
}