<h3>Profil utilisateur</h3>
<!-- <form class="update-form" (ngSubmit)="onSubmit()"> -->
<form class="update-form">
    <mat-form-field appearance="fill">
        <mat-label>guillaume.beyssongmail.com</mat-label>
        <input matInput [(ngModel)]="username" name="username" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Adresse email</mat-label>
        <input matInput [(ngModel)]="email" name="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput [(ngModel)]="password" name="password" type="password" />
    </mat-form-field>
    <button mat-raised-button type="submit">Sauvegarder</button>
    <button class="disconnected" mat-button (click)="logout()">Se déconnecter</button>
</form>
<hr>
<h3>Abonnements</h3>