h3 {
    text-align: center;
    margin-top: 30px;
}

.update-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    min-width: 150px;
    max-width: 400px;
    margin: 40px auto;
}

input {
    width: 300px;
}

.line-separation {
    margin: 0 auto;
    width: 100%;
}

hr {
    width: 50%;
}

.disconnected {
    color: red !important;
    background: none !important;
}

.save-btn {
    margin-top: 20px;
}

.topic-list {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

app-topic-item {
    width: 100%;
    max-width: 400px;
}


@media (max-width: 768px) {
    .update-form {
        width: 90%;
    }

    .page-container {
        width: 100%;
    }
}

@media (max-width: 442px) {
    .save-btn {
        margin-top: 40px;
    }
}