h3 {
    text-align: center;
    margin-top: 30px;
}

.update-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    min-width: 150px;
    max-width: 400px;
    margin: 40px auto;
}

input {
    width: 300px;
}

.disconnected {
    color: red !important;
    background: none !important;
}

.topic-list {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

app-topic-item {
    width: 100%;
    max-width: 400px;
}

@media (max-width: 768px) {
    .update-form {
        width: 90%;
    }
}