<mat-toolbar>
    @if (authService.isAuthenticated()) {
    <img src="/logo-mdd.png" alt="Logo" class="logo" routerLink="/articles">
    } @else {
    <img src="/logo-mdd.png" alt="Logo" class="logo" routerLink="">
    }
    <span class="spacer"></span>
    @if (authService.isAuthenticated()) {
    <button mat-icon-button matMenuTrigger [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <nav class="desktop-menu">
        <a mat-button routerLink="/articles">Articles</a>
        <a mat-button routerLink="/topics">Thèmes</a>
        <a mat-icon-button routerLink="/user"><mat-icon>account_circle</mat-icon></a>
    </nav>
    }
</mat-toolbar>

<mat-menu #menu="matMenu">
    @if (authService.isAuthenticated()) {
    <a mat-menu-item routerLink="/articles">Articles</a>
    <a mat-menu-item routerLink="/topics">Thèmes</a>
    <a mat-menu-item routerLink="/user"><mat-icon>account_circle</mat-icon></a>
    }
</mat-menu>