.logo {
    height: 50px;
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

.desktop-menu {
    display: none;
}

@media (min-width: 768px) {
    .desktop-menu {
        display: flex;
        gap: 10px;
    }

    button[mat-icon-button] {
        display: none;
    }
}