mat-card {
    padding: 10px;
    transition: all 0.3s ease;
    height: 240px;
    cursor: pointer;
    max-width: 600px;
}

mat-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.header-card {
    margin: 0 15px;
    display: flex;
    justify-content: space-between;
    color: grey;
}

mat-card-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}


mat-card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    margin: 15px 15px 30px 15px;
}

mat-icon {
    color: #7550EC;
}

.createdAt {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.username {
    display: flex;
    align-items: center;
    margin-right: 5px;

}