/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto,
        "Helvetica Neue", sans-serif;
    /* background-color: #1e1a1d; */
}

button {
    color: #ffffff !important;
    background-color: #7550EC !important;
}

.snackbar-success {
    background: #4BB543 !important;
    color: white !important;
    border: solid 3px #4BB543 !important;
    border-radius: 5px !important;
}

.snackbar-success button {
    background-color: none !important;
    background: none !important;
    color: white !important;
    border: none !important;
}

.snackbar-error {
    background: #F44336 !important;
    color: white !important;
    border: solid 3px #F44336 !important;
    border-radius: 5px !important;
}

.snackbar-error button {
    background-color: none !important;
    background: none !important;
    color: white !important;
    border: none !important;
}