.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

img {
    width: 100%;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px;
    width: 150px;
}

@media (max-width: 768px) {
    .btn-container {
        flex-direction: column;
    }
}